<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>JITCALL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(contacts) {
    @for (contact of contacts; track $index) {
      <app-item-contact
        [id]="contact.id"
        [name]="contact.name"
        [phone]="contact.phone"
        (click)="callUser(contact.id ?? '')"
      ></app-item-contact>
    }
  }

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button color="primary">
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="secondary" id="open-modal">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="tertiary" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Add Phone Number</ion-title>
          <ion-buttons slot="end" id="open-toast">
            <ion-button (click)="confirm()" id="open-toast" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          <ion-input
            label="Name"
            labelPlacement="floating"
            type="text"
            [(ngModel)]="name"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Phone number"
            labelPlacement="floating"
            type="tel"
            [(ngModel)]="phone"
          ></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-toast trigger="open-toast" [message]="toastMessage" [duration]="5000"></ion-toast>
</ion-content>
